---
import { getLang } from "../i18n";
import DyslexicModeToggle from "./DyslexicModeToggle.astro";

const { lang = "en" } = Astro.props;
const t = getLang(lang);
---
<footer>
    <DyslexicModeToggle />
    <p class="copyright">{t.footer.copyright}</p>
</footer>

<style>
    footer {
        padding-bottom: 1.5rem;
        color: var(--soft-white);
        background-color: var(--main-bg-color);
        margin-top: auto;
    }

    .copyright {
        text-align: center;
        padding: 2rem 1rem 1rem;;
    }
</style>