---
const currentPath = Astro.url.pathname;

// remove the language prefix
const pathWithoutLang = currentPath.replace(/^\/(en|hu)/, "");

const { lang } = Astro.params;
---
<div class="lang-switcher">
    <a href={`/en${pathWithoutLang}`} >
        <span class={lang === "en" ? "active" : ""}>{lang === "en" ? "English" : "Angol"}</span>
    </a>
    <a href={`/hu${pathWithoutLang}`}>
        <span class={lang === "hu" ? "active" : ""}>{lang === "hu" ? "Magyar" : "Hungarian"}</span>
    </a>
</div>
<style>
    .lang-switcher {
        min-width: 14rem;
        display: inline-flex;
        justify-content: center;
        gap: 0.5rem;
        border: 1px solid var(--soft-white);
        padding: 0.25rem 0.5rem;
        border-radius: var(--border-radius);
        margin-left: 0.5rem;
    }

    .lang-switcher a {
        text-decoration: none;
        color: var(--soft-white);
    }

    a .active {
        font-weight: bold;
    }

    @media (max-width: 800px) {
        .lang-switcher {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
</style>