---
const { tag } = Astro.props;
const { lang } = Astro.params;
---
<a class="link" href={`/${lang}/tags/${tag}`}>{tag}</a>

<style>
  .link {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    font-size: 1.15em;
    background-color: transparent;
    color: var(--main-bg-color);
    color: inherit;
    text-decoration: none;
    font-size: 0.75rem;
    padding: 0 0.5rem;
  }

  .link:hover {
    text-decoration: underline;
    color: var(--soft-white);
    background-color: var(--main-bg-color-light);
  }
</style>