---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import { getLang } from "../i18n";
import '@fontsource/Montserrat';
import "../styles/global.css";

const { lang = "en" } = Astro.props;
const t = getLang(lang);
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simon Júlia - Web developer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="description" content="The personal website of web developer Júlia Simon."/>
    <!-- favicon-->
    <link rel="shortcut icon" href="./favicon/simonJ.svg" type="image/x-icon">
    <link rel="icon" href="./favicon/simonJ.svg?" type="image/x-icon">
  </head>

  <body>
    <header>
        <Navigation lang={lang} />
    </header>
    <main>
      <slot />
    </main>

    <Footer lang={lang} />
  </body>
</html>

<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
</style>
