---
import TagList from '../components/TagList.astro';

const { frontmatter } = Astro.props;

const { lang } = Astro.params;

const date = frontmatter.date instanceof Date ? frontmatter.date : new Date(frontmatter.date);

const formattedDate = new Date(date).toLocaleDateString(lang, { year: 'numeric', month: 'long', day: 'numeric' });
---
<div class="markdown-layout">
    <h1>{frontmatter.title}</h1>
    <p class="date-of-creation">{formattedDate}</p>
    <p class="description"><em>{frontmatter.description}</em></p>

    <TagList tags={frontmatter.tags}/>

    <article class="content">
        <slot />
    </article>
</div>

<style>
  .markdown-layout {
    max-width: 700px;
    margin: 0 auto;
    padding: 2em;
  }

  .date-of-creation {
    font-style: italic;
    color: var(--main-bg-color);
    margin-bottom: 0.5em;
  }

  .description {
    margin-bottom: 1rem;
    color: var(--main-bg-color);
  }

  .content {
    display: block;
    margin: 1rem auto;
    width: 100%;
    overflow-x: hidden;
  }

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
  }

  .content figure {
    margin: 1.5rem 0;
    padding: 0;
  }

  .content figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: var(--main-bg-color);
    text-align: center;
    font-style: italic;
  }

    @media screen and (max-width: 600px) {
      .markdown-layout {
        max-width: 84vw;
        padding: 1rem;
      }

      .content img {
        width: 100%;
      }
    }
</style>
