---
import TagList from '../components/TagList.astro';

const { frontmatter } = Astro.props;
---
<div class="markdown-layout">
    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.date.toString().slice(0,10)}</p>
    <p><em>{frontmatter.description}</em></p>

    <TagList tags={frontmatter.tags} />

    <article>
        <slot />
    </article>
</div>

<style>
  .markdown-layout {
    max-width: 700px;
    margin: 0 auto;
    padding: 2em;
  }
</style>
